<link rel="stylesheet" type="text/css" href="widgets/dark-side-knowledge.css">
<link rel="stylesheet" type="text/css" href="widgets/mark-as.css">
<link rel="stylesheet" type="text/css" href="widgets/zoomed-content.css">
<link rel="stylesheet" type="text/css" href="widgets/dark-side-book.css">
<link rel="stylesheet" type="text/css" href="widgets/modal.css">
<link rel="stylesheet" type="text/css" href="widgets/lister.css">
<link rel="stylesheet" type="text/css" href="widgets/add-item.css">
<link rel="stylesheet" type="text/css" href="widgets/category-selector.css">
<link rel="stylesheet" type="text/css" href="widgets/can-zoom.css">
<x-dark-side-knowledge></x-dark-side-knowledge>
