x-add-item .modal
{
    height: 63vh;
    max-height: 65vh;
    width: 50vw;
}

section.add-item
{
  background: #009a00;
  border: 0.1em solid #909090;
  color: white;
  display: block;
}

section.add-item > *
{
  display: inline;
  margin: 0.5em;
}

section.add-item > button
{
  background: #c9de96;
  background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%);
  background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
  background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );

  border: 0.1em solid white;
  font-weight: bold;
  height: 2em;
  width: 2em;
}

.add-item-modal-content > div
{
  height: 100%;
}

.add-item-modal-content article > section
{
  margin-bottom: 0.7em;
}

.add-item-modal-content article > section > *
{
  display: block;
}

.add-item-commands
{
    display: block;
    height: auto;
    width: 100%;
}

  .add-item-commands > button
  {
      border: 0.01em double black;
      color: white;
      font-weight: bold;
      height: 3vh;
      margin: 0.7% 10%;
      width: 20%;
  }

.add-item-modal-content .new-item-description, 
.add-item-modal-content .new-item-cover-preview
{
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 40%;
}

.add-item-modal-content .new-item-description
{
  margin: 8% 0.5em 16%;
  width: 28%;
}

  .add-item-modal-content .new-item-description textarea
  {
    resize: none;
    width: 100%;
  }

.add-item-modal-content .new-item-cover-preview img
{
  margin: 0 5%;
  max-height: 85%;
  max-width: 85%;
  object-fit: scale-down;
}

.add-item-modal-content .new-item-cover-preview figcaption
{
  text-align: center;
}

@media screen   and (max-width:720px)
        and (max-height:1280px)
        and (orientation: portrait)
{

  x-add-item .modal
  {
    height: 90vh;
    max-height: 99vh;
    width: 100vw;
  }

  .add-item-modal-content .new-item-description, 
  .add-item-modal-content .new-item-cover-preview
  {
    width: 35%;
  }

  .add-item-modal-content .new-item-description
  {
    margin: 8% 0.5em 16%;
  }

  .add-item-modal-content .new-item-cover-preview
  {
    width: 40%;
  }

  .add-item-modal-content .new-item-cover-preview img
  {
    max-width: 100%;
    object-fit: contain;
    width: 60%;
  }
}