div[x-can-zoom] .modal-body
{
	max-height: 64.68vh;
	width: 65vw;
}

@media screen 	and (max-width:720px)
				and (max-height:1280px)
				and (orientation: portrait)
{
	div[x-can-zoom] .modal-body
	{
		height: auto;
		max-height: 79.06vh;
		width: 100vw;
	}
}
