.categories
{
	background: #7A46EF;
	list-style-type: none;
	padding: 0.5%;
	width: 100%;
}

.categories > li
{
	background: #eee8fd;
	background: -moz-linear-gradient(top,  #eee8fd 0%, #bba1f7 44%, #bba1f7 44%, #7a46ef 100%);
	background: -webkit-linear-gradient(top,  #eee8fd 0%,#bba1f7 44%,#bba1f7 44%,#7a46ef 100%);
	background: linear-gradient(to bottom,  #eee8fd 0%,#bba1f7 44%,#bba1f7 44%,#7a46ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee8fd', endColorstr='#7a46ef',GradientType=0 );

	border-radius: 0.3em;
	color: white;
	cursor: pointer;
	display: inline;
	font-weight: bold;
	margin: 0.5em 5%;
	padding: 0.5%;
}

.categories > li:hover, .categories > li.selected
{
	background: #7394F5;
}