x-dark-side-book article > header
{
	display: none;
}

x-dark-side-book article section
{
	display: table-row;
}

x-dark-side-book article section > *
{
	display: table-cell;
	margin: 0.5em;
	width: 80%;
}

x-dark-side-book article > section button
{
	border: 0.01em solid black;
	height: 3vh;
}

.book-author
{
}

.book-cover
{
	background-color: #009a00;
	height: auto;
	position: relative;
	width: 10em;
}

x-dark-side-book article section > .details > *
{
	display: block;
}

.details-mobile
{
	display: none;
}

@media screen 	and (max-width:720px)
				and (max-height:1280px)
				and (orientation: portrait)
{
	x-dark-side-book article > *
	{
			margin-left: auto;
			margin-right: auto;
	}

	x-dark-side-book article > section button
	{
		width: 100%;
	}

	x-dark-side-book article > header
	{
		background: #EB1717;
		display: block;
		height: 3vh;
		position: relative;
		text-align: center;
		width: 100%;
	}
	x-dark-side-book article > section > *
	{
		display: block;
	}
	.details
	{
		display: none;
	}
	.details-mobile
	{
		display: block;
		width: 100%;
	}


}
