.tech-dark > li
{
  background: #303030;
  border-color: red;
  color: white;
  height: auto;
  margin-bottom: 0.3em;
  min-height: 20%;
  width: 35em;
  padding: 0.3em;
}

@media screen and (max-width:720px)
				      and (max-height:1280px)
				      and (orientation: portrait)
{
	.tech-dark, .tech-dark > li
	{
  		width: 100%;
	}

	.tech-dark > li
	{
  		height: auto;
  		margin-bottom: 0.3em;
	  	min-height: 20%;
	  	min-width: 25%;
	  	padding: 0;
	}

	.menu > li a
	{
  		background: #a0a5a0;
  		border-radius: 0.1em;
  		display: inline;
  		padding: 0.5em;
  		text-decoration: none;
	}
}
