x-lister
{
    height: auto;
    width: auto;
}
.lister
{
    display: table-row;
    width: 100%;
    height: 100%;
}

.lister > *
{
    display: table-cell;
    vertical-align: top;
    width: auto;
}

.lister .left, .lister .right, .lister .zoomed-content
{
    /*height: 52vh;*/
}

.lister .left, .lister .right
{
    background: #d0d0d0;
    border-color: #808080;
    cursor: pointer;
    font-size: 2em;
    padding: 1vmin;
    transition: all 0.5s;
    vertical-align: middle;
}

.lister .left:hover, .lister .right:hover
{
    background: #909090;
    color: white;
}

.intermission
{
  background-image: linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
  animation: 2s linear 0s red_saber;
}

@keyframes red_saber {
  from {margin-left: -20%;} to {margin-left: 100%;}
}

@media screen and (max-width:720px)
                and (max-height:1280px)
                and (orientation: portrait)
{
    .lister .left, .lister .right, .lister .zoomed-content
    {
        height: 85vh;
    }
    .lister .left, .lister .right
    {
        border-radius: 0;
        width: 5vw;
    }
}
