li[mark-as]
{
	border: 0.05em dashed black;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

li[mark-as] > .pane
{
	background: #EB1717;
	display: inline-block;
	padding: 0.3em;
	width: 90%;
}

	li[mark-as].postphone
	{
		opacity: 0.5;
	}

	li[mark-as].in-progress
	{
		border: 0.1em dashed #009a00;
	}

		li[mark-as].in-progress header, li[mark-as].in-progress .pane
		{
			background: #ffaa80;
		}

	li[mark-as].complete
	{
		border: 0.1em solid #009a00;
		color: #009a00;
	}

		li[mark-as].complete header, li[mark-as].complete .pane
		{
			background: #00cc44;
			color: #fff;
		}

	li[mark-as].complete
	{
		border: 0.1em solid #009a00;
		color: #009a00;
	}


	li[mark-as] .pane > button
	{
		border: 0.05em solid;
		color: #505050;
		font-weight: bold;
		margin-right: 1.2%;
	}


@media screen 	and (max-width:720px)
				and (max-height:1280px)
				and (orientation: portrait)
{
	li[mark-as] .pane
	{
		width: 100%;
	}
}
