.modal-overlay
{
	background: #c0c0c0;
	bottom: 0;
	height: 100vh;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 100vw;
	z-index: 1;
}

	.modal-overlay.active
	{
		visibility: visible;
		opacity: 0.6;
	}

/*Borders*/
.modal
{
	border: none;
	border-radius: 0.5em;
	box-shadow: 1em .3em .5em black;
}

/*Positioning*/
.modal
{
	bottom: 25%;
	left: 50%;
	position: absolute;
	z-index: 3;
}

/*Box model*/
.modal
{
	background-color: #fff;
	height: auto;
	margin: auto auto;
	padding: 0.5em;
	width: auto;
}

/*Transformation and visibility*/
.modal
{
	transform: translate(-50%, -5%);
	transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
}

.modal.active
{
	visibility: visible;
	opacity: 1;
}

.modal .modal-body
{
	height: 100%;
	width: 100%;
}

.modal-naming
{
	text-align: center;
}

.modal footer, .modal header
{
	color: #FFFFFF;
	display: block;
	height: 5vh;
	text-align: center;
}

.modal footer > button
{
	border: 0.01em double black;
	margin: 0.5em 0;
	width: 20%;
}

@media screen 	and (max-width:720px)
				and (max-height:1280px)
				and (orientation: portrait)
{
	.modal
	{
		height: auto;
		width: 100%;
	}
	.modal > *
	{
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
	}

	.modal footer > button
	{
		width: 100%;
	}

	.modal header
	{
		font-size: 3vmax;
		padding: 0.5vmin;
	}

	.modal footer
	{
		bottom: 0;
		height: 7vh;
		width: auto;
	}

	/*Positioning*/
	.modal
	{
		transform: translate(0,0);
		border: 0;
		border-radius: 0;
		bottom: 0;
		left: 0;
		padding: 0;
		right: 0;
		top: 0;
		z-index: 3;
	}

	.modal-naming
	{
		display: none;
	}

	.modal-body
	{
		height: 100%;
	}
}
