x-zoomed-content
{
	display: table-row;
	font-size: 1em;
	height: 51.75vh;
	margin: 0 auto;
	width: 20vw;
}

	x-zoomed-content > *
	{
		display: table-cell;
		height: 85%;
		padding: 0;
		position: relative;
		vertical-align: top;
	}

	x-zoomed-content .picture, x-zoomed-content .description
	{
			height: 55%;
	}

	x-zoomed-content .picture
	{
		width: 40%;
	}

	x-zoomed-content .description
	{
		width: 60%;
	}

	x-zoomed-content .content-housing
	{
		border-bottom: 0.05em double black;
		height: 56%;
		max-height: 58%;
		overflow-y: auto;
	}

x-zoomed-content .zoomed,
x-zoomed-content .content-description
{
	padding: 0;
}

x-zoomed-content .zoomed
{
	object-fit: scale-down;
	width: 80%;
}

x-zoomed-content .content-description
{
	height: 50%;
	list-style-type: none;
}


/*---Mobile layouts---*/
@media screen and (max-width:720px)
				and (max-height:1280px)
				and (orientation: portrait)
{
	x-zoomed-content > *
	{
		background: white;
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: auto;
	}

	x-zoomed-content > section
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	x-zoomed-content .picture
	{
		height: 20%;
	}

	x-zoomed-content .description
	{
		height: 35.65%;
		width: 100%;
	}

	x-zoomed-content .zoomed
	{
	    height: 43%;
	    max-width: 100%;
		object-fit: contain;
		width: 90%;
	}

	x-zoomed-content .content-housing
	{
		max-height: 28vh;
		overflow-y: auto;
	}

	x-zoomed-content .content-description
	{
		max-height: 28vh;
	}


}
