html
{
	box-sizing: border-box;
    font-size: 1.5vh;
    margin: 0;
    padding: 0;
}
header, footer
{
	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}

button
{
	background: #cedce7;
	background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%);
	background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%);
	background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );

	height: 2em;
}
/* app css stylesheet */

.menu, .tech-dark {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}



@media screen 	and (max-width:720px)
				and (max-height:1280px)
				and (orientation: portrait)
{
	html
	{
		font-size: 14px;
		margin: 0;
		padding: 0;
	}

	button
	{
		height: 4vh;
	}

	.tech-dark, .tech-dark > li
	{
		width: 100%;
	}

	.menu:before,
	.menu:after,
	.menu > li + li:before
	{
		content: "";
	}

	.tech-dark > li
	{
		height: auto;
		margin-bottom: 0.3em;
		min-height: 20%;
		min-width: 25%;
		padding: 0;
	}

	.menu > li a
	{
		background: #a0a5a0;
		border-radius: 0.1em;
		display: inline;
		padding: 0.5em;
		text-decoration: none;
	}
}
