<section class="add-item">
  <button x-ng-click="addNewElement()">&#43;</button>
  <span>Add a new element</span>
</section>
<x-modal active="newElementRequired">
  <article class="add-item-modal-content">
    <header>
        Add new...
    </header>
    <div x-ng-model="newItem">
      <div class="new-item-description">
        <article>
        <section>
          <label for="name-input">Name:</label>
          <input type="text" id="name-input" x-ng-model="name"/>
        </section>
        <section>
          <label for="author-input">Author:</label>
          <input type="text" id="author-input" x-ng-model="author"/>
        </section>
        <section>
          <label for="url-input">Cover:</label>
          <input type="text" id="url-input" x-ng-model="url"/>
        </section>
        <section>
          <label for="description-input">Description:</label>
          <textarea id="description-input" x-ng-model="description"></textarea>
        </section>
      </article>
      </div>
      <div class="new-item-cover-preview">
        <figure>
          <img x-ng-src="{{url}}">
        </figure>
        <figcaption>
          {{name}}
        </figcaption>
      </div>
      <div class="new-item-description">
        <article>{{description}}</article>
      </div>
    </div>
    <footer>
      <section class="add-item-commands">
        <button x-ng-click="ok()">OK</button>
        <button x-ng-click="cancel()">Cancel</button>
      </section>
    </footer>
  </article>
</x-modal>
