<x-modal active="active">
	<article>
		<header>
			{{current.author + " - " + current.name}}
		</header>
		<x-lister index="index">
			<x-zoomed-content content="current"></x-zoomed-content>
		</x-lister>
		<footer>
			<button ng-click="close()">Close</button>
		</footer>
	</article>
</x-modal>
