<div>
	<section>
		<ul class="categories">
			<li x-ng-repeat="category in categories"
				x-ng-click="selectCategory(category)"
				x-ng-class="{'selected': category.selected}">{{category.name}}</li>
		</ul>
	</section>
</div>