<article>
	<header>
		<h3>
			{{element.author + ": " + element.name}}
		</h3>
	</header>
	<section>
		<img class="book-cover" alt="{{element.name}}"
						x-ng-src="{{element.url}}" >
		<div class="details">
			<span class="book-author">{{element.author + ": " + element.name}}</span>
			<button x-ng-click="setCurrent(element)">Click for more details</button>
		</div class="details">
		<div class="details-mobile">
			<button x-ng-click="setCurrent(element)">Click for more details</button>
		</div>
	</section>
</article>
