<x-add-item></x-add-item>
<x-category-selector category-criterion="categoryCriterion"></x-category-selector>
<main>
	<ul class="tech-dark">
		<li mark-as element="book"
			x-ng-class="{'postphone': book.isPostphoned, 'in-progress': book.isInProgress, 'complete': book.isCompleted}"
			x-ng-repeat="book in darkside_knowledge | category:categoryCriterion">
			<x-dark-side-book element="book"></x-dark-side-book>
		</li>
	</ul>
</main>
<div x-can-zoom current="currentElement" active="active"></div>
