<div class="lister">
	<div class="left" data-ng-click="fetchPrevious()">&#60;</div>
	<div class="zoomed-content" data-ng-transclude></div>
	<div class="right" data-ng-click="fetchNext()">&#62;</div>
</div>
