<div class="pane">
  <button type="button" x-ng-click="handleClick(buttons.postphone)" class="postphone">{{buttons.postphone}}</button>
  <button type="button" x-ng-click="handleClick(buttons.inProgress)" class="in-progress">{{buttons.inProgress}}</button>
  <button type="button" x-ng-click="handleClick(buttons.complete)" class="complete">{{buttons.complete}}</button>
</div>
