<div class="modal-overlay" x-ng-class="{'active': activeModal}" x-ng-click="close()"></div>
<div class="modal" x-ng-class="{'active': activeModal}">
	<div class="modal-body" x-ng-transclude></div>
</div>
