<section class="picture">
	<figure ng-cloak>
		<img class="zoomed" x-ng-src="{{content.url}}" alt="{{content.name}}">
		<figcaption class="modal-naming">
			{{content.author + " - " + content.name}}
		</figcaption>
	</figure>
</section>
<section class="description">
	<div class="content-housing">
		<ul class="content-description">
			<li x-ng-repeat="line in content.description">
				{{line}}
			</li>
		</ul>
	</div>
</section>
